<h3>Upgrate Student</h3>
<form method="post">
    <input type="hidden" value="<%- students[0].id %>">
    <input type="text" value="<%- students[0].name %>" placeholder="Name" name="name"><br><br>
    <input type="text" value="<%- students[0].class %>" placeholder="Class" name="class"><br><br>
    <input type="text" value="<%- students[0].number %>" placeholder="Number" name="number"><br><br>
    <input type="text" value="<%- students[0].age %>" placeholder="Age" name="age"><br><br>
    <input type="submit" value="Submit">
</form>